<li class="films-list__item" data-id="{{id}} data-name=""">
  <img class="article-image" src="https://image.tmdb.org/t/p/w400{{backdrop_path}}" alt="movie poster image">
  <div>
    <h2 class="film-title">{{title}}</h2>
  </div>
  <div class="inner" data-id="{{id}}"></div>
  <div class="vote">{{vote_average}}</div>
</li>
